## Data from
https://www.kaggle.com/c/home-credit-default-risk/data

In [1]:
import pandas as pd
import numpy as np
import gc
import warnings
warnings.filterwarnings("ignore")
application_train = pd.read_csv('application_train.csv')

In [2]:
categorical_list = []
numerical_list = []
for i in application_train.columns.tolist():
    if application_train[i].dtype=='object':
        categorical_list.append(i)
    else:
        numerical_list.append(i)
print('Number of categorical features:', str(len(categorical_list)))
print('Number of numerical features:', str(len(numerical_list)))

Number of categorical features: 16
Number of numerical features: 106

In [3]:
from sklearn.impute import SimpleImputer
application_train[numerical_list] = SimpleImputer(strategy='median').fit_transform(application_train[numerical_list])

application_train = pd.get_dummies(application_train, drop_first=True)
print(application_train.shape)

(307511, 230)

In [4]:
X = application_train.drop(['SK_ID_CURR', 'TARGET'], axis=1)
y = application_train.TARGET

In [5]:
from fs import FeatureSelector
f_s = FeatureSelector(X, y)

In [6]:
%%time
f_s.run_all().head(100)

Correlation selector starts.....
Chi2 selector starts.....
RFE selector starts.....
Embeded LogReg selector starts.....
Embeded RF selector starts.....
Embeded LightGBM selector starts.....
CPU times: user 1d 8h 24min 59s, sys: 1h 33min 18s, total: 1d 9h 58min 17s
Wall time: 53min 17s

,Feature,Pearson,Chi-2,RFE,Logistics,Random Forest,LightGBM,Total
1,REG_CITY_NOT_LIVE_CITY,True,True,True,True,True,True,6
2,REGION_RATING_CLIENT_W_CITY,True,True,True,True,True,True,6
3,ORGANIZATION_TYPE_Self-employed,True,True,True,True,True,True,6
4,OCCUPATION_TYPE_Drivers,True,True,True,True,True,True,6
5,NONLIVINGAREA_MODE,True,True,True,True,True,True,6
...,...,...,...,...,...,...,...,...
96,LANDAREA_MEDI,True,False,False,False,True,True,3
97,HOUR_APPR_PROCESS_START,True,False,False,False,True,True,3
98,FLOORSMIN_MODE,True,False,False,False,True,True,3
99,FLOORSMIN_MEDI,True,False,False,False,True,True,3
100,FLOORSMIN_AVG,True,False,False,False,True,True,3