<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('input/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [7]:
# You code here
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [11]:
# You code here
data[data.sex == 'Female'].age.mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [42]:
# You code here
float((data['native-country'] == 'Germany').sum()) / data.shape[0]

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [20]:
data.salary.value_counts()

<=50K    24720
>50K      7841
Name: salary, dtype: int64

In [28]:
# You code here
print('More than 50K per year mean: ' + str(data[data.salary == '>50K'].age.mean()))
print('More than 50K per year standart devitation: ' + str(data[data.salary == '>50K'].age.std()))

print('More than 50K per year mean: ' + str(data[data.salary == '<=50K'].age.mean()))
print('More than 50K per year standart devitation: ' + str(data[data.salary == '<=50K'].age.std()))

More than 50K per year mean: 44.24984058155847
More than 50K per year standart devitation: 10.51902771985177
More than 50K per year mean: 36.78373786407767
More than 50K per year standart devitation: 14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [43]:
# You code here
data[data.salary == '>50K'].education.unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [48]:
# You code here
for (race, sex), sub_df in data.groupby(['race','sex']):
    print('Race: {0}, sex: {1}'.format(race, sex))
    print(sub_df.age.describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [52]:
# You code here
#data[data.salary == '>50K']['marital-status'].value_counts()
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Never-married', 
                                   'Separated', 
                                   'Divorced',
                                   'Widowed'])), 'salary'].value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

In [54]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].str.startswith('Married')), 'salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [53]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [66]:
# You code here
max_h = data['hours-per-week'].max()
print('Max number of hours per week: ' + str(max_h))
num_max_h = data[data['hours-per-week'] == max_h].shape[0]
print('People who works a max number of hours: ' + str(num_max_h))
print('>50K of hardworking people: ' + str(100*data[(data['hours-per-week'] == max_h) & (data.salary == '>50K')].shape[0]/num_max_h))

Max number of hours per week: 99
People who works a max number of hours: 85
>50K of hardworking people: 29.41176470588235

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [78]:
# You code here
for (country, salary), sub_df in data.groupby(['native-country', 'salary']):
    print(country + ' ' + salary + ' ' + str(sub_df['hours-per-week'].mean()))

? <=50K 40.16475972540046
? >50K 45.54794520547945
Cambodia <=50K 41.416666666666664
Cambodia >50K 40.0
Canada <=50K 37.91463414634146
Canada >50K 45.64102564102564
China <=50K 37.38181818181818
China >50K 38.9
Columbia <=50K 38.68421052631579
Columbia >50K 50.0
Cuba <=50K 37.98571428571429
Cuba >50K 42.44
Dominican-Republic <=50K 42.338235294117645
Dominican-Republic >50K 47.0
Ecuador <=50K 38.041666666666664
Ecuador >50K 48.75
El-Salvador <=50K 36.03092783505155
El-Salvador >50K 45.0
England <=50K 40.483333333333334
England >50K 44.53333333333333
France <=50K 41.05882352941177
France >50K 50.75
Germany <=50K 39.13978494623656
Germany >50K 44.97727272727273
Greece <=50K 41.80952380952381
Greece >50K 50.625
Guatemala <=50K 39.36065573770492
Guatemala >50K 36.666666666666664
Haiti <=50K 36.325
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.333333333333336
Honduras >50K 60.0
Hong <=50K 39.142857142857146
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.233333333333334
India >50K 46.475
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.94736842105263
Ireland >50K 48.0
Italy <=50K 39.625
Italy >50K 45.4
Jamaica <=50K 38.23943661971831
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.958333333333336
Laos <=50K 40.375
Laos >50K 40.0
Mexico <=50K 40.00327868852459
Mexico >50K 46.57575757575758
Nicaragua <=50K 36.09375
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.857142857142854
Peru <=50K 35.06896551724138
Peru >50K 40.0
Philippines <=50K 38.065693430656935
Philippines >50K 43.032786885245905
Poland <=50K 38.166666666666664
Poland >50K 39.0
Portugal <=50K 41.93939393939394
Portugal >50K 41.5
Puerto-Rico <=50K 38.470588235294116
Puerto-Rico >50K 39.416666666666664
Scotland <=50K 39.44444444444444
Scotland >50K 46.666666666666664
South <=50K 40.15625
South >50K 51.4375
Taiwan <=50K 33.774193548387096
Taiwan >50K 46.8
Thailand <=50K 42.86666666666667
Thailand >50K 58.333333333333336
Trinadad&Tobago <=50K 37.05882352941177
Trinadad&Tobago >50K 40.0
United-States <=50K 38.79912723305605
United-States >50K 45.50536884674383
Vietnam <=50K 37.193548387096776
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5